.root {
    /* -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, DarkSlateGray, Black); */
}

.tab-pane {
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
}

#hello {
    -fx-font-size: 55px;
}